eccheuma-cursor {

  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;

  z-index: 9999;

}

.tail {

  --eccheuma-cursor-tail-rotate: var(--tr, 45deg);
  --eccheuma-cursor-tail-delay: var(--td, 250ms);
  --eccheuma-cursor-tail-size: var(--size, 40px);

  --eccheuma-cursor-tail-pos-x: var(--x, 0px);
  --eccheuma-cursor-tail-pos-y: var(--y, 0px);

  --eccheuma-cursor-tail-transform-size: var(--s, 1);

  width: var(--eccheuma-cursor-tail-size);
  height: var(--eccheuma-cursor-tail-size);
  
  /* left: var(--eccheuma-cursor-tail-pos-x);
  top: var(--eccheuma-cursor-tail-pos-y); */
  
  position: absolute;
  border: 2px solid #57543e;
  border-radius: 100%;

  transform:
    translate(var(--eccheuma-cursor-tail-pos-x), var(--eccheuma-cursor-tail-pos-y)) 
    rotate(var(--eccheuma-cursor-tail-rotate)) 
    scale(var(--eccheuma-cursor-tail-transform-size));
  transition-duration: var(--eccheuma-cursor-tail-delay);
  transition-timing-function: ease-out;

  z-index: 1;

}

.dot {

  --eccheuma-cursor-dot-size: var(--size, 8px);

  --eccheuma-cursor-dot-pos-x: var(--x, 0px);
  --eccheuma-cursor-dot-pos-y: var(--y, 0px);

  display: block;

  height: var(--eccheuma-cursor-dot-size);
  width: var(--eccheuma-cursor-dot-size);

  transform: 
    translate(var(--eccheuma-cursor-dot-pos-x), var(--eccheuma-cursor-dot-pos-y));

  border-radius: 100%;
  position: absolute;
  background-color: #818073;

  z-index: 2;

}