body {
  cursor: none;
}

.cursor-container {

  --cursor-size: 15px;

  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.cursor {

  pointer-events: none;
  position: absolute;

  width: var(--cursor-size);
  aspect-ratio: 1/1;

  border: 2px solid #363330;
  border-radius: 100%;

  transition: 250ms;
  transition-timing-function: ease-out;

}

.cursor-dot {
  
  pointer-events: none;
  position: absolute;

  width: 4px;
  aspect-ratio: 1/1;

  background: #ab9987;

  border-radius: 400px;
}