* {
  cursor: none !important;
}

#crusoris {
  
  --cursor-size: 40px;
  
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 10000;

  opacity: 0;
  transition-delay: calc(var(--crusoris-transition-duration, 350ms) * 2);
  transition-duration: var(--crusoris-transition-duration, 350ms);

}

#crusoris-tail {

  pointer-events: none;

  box-sizing: border-box;
  position: absolute;

  width: var(--cursor-size);
  aspect-ratio: 1/1;

  border: 2px solid var(--crusoris-circle-color, white);
  border-radius: calc(var(--cursor-size) / 3.5);

  transition: var(--crusoris-transition-duration, 350ms);
  transition-timing-function: ease-out;
  z-index: 1;

}

#crusoris-dot {
  
  pointer-events: none;

  box-sizing: border-box;
  position: absolute;

  width: 8px;
  aspect-ratio: 1/1;

  background: var(--crusoris-dot-color, white);
  border: 2px solid var(--crusoris-circle-color, white);

  transition-duration: calc(16ms * 3);

  border-radius: 400px;
  z-index: 2;
  
}